audio {
  display: none;
}

#app-container {
  margin: 0 auto;
  width: 1200px;
}

#logo-container, #poll-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

#title {
  text-align: center;
}

#vs-logo {
  top: -150px;
  width: 200px;
  height: auto;
}

.button {
  padding: 3px;
  font-size: 32px;
  border-radius: 10px;
  margin-right: 50px;
  background-color: gainsboro;
}

.button:hover {
  background-color: rgb(180, 180 , 180)
}

.button.selected {
  background-color: grey;
}

.logo {
  position: relative;
}
