audio {
  display: none;
}

#app-container {
  margin: 0 auto;
  width: 1200px;
}

#logo-container, #reaction-pics-container ,#poll-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

#reaction-pics-container, #poll-container {
  opacity: 0;
  margin-bottom: 30px;
}

#star-wars-logo {
  left: -1200px;
}

#star-trek-logo {
  right: -1200px;
}

#title {
  text-align: center;
}

#vs-logo {
  top: 100px;
  width: 120px;
  height: auto;
}

.button {
  padding: 3px;
  font-size: 32px;
  border-radius: 10px;
  background-color: gainsboro;
  outline: none;
}

.button:hover {
  background-color: rgb(180, 180 , 180)
}

.button.selected {
  background-color: grey;
}

.logo {
  position: relative;
  width: 300px;
  height: auto;
}

.response-pics {
  width: 480px;
  height: 480px;
}

.slide-in-from-left {
  animation: animate-slide-in-left 1s linear .25s forwards;
}

.slide-in-from-right {
  animation: animate-slide-in-right 1s linear .25s forwards;
}

.rotate-fast-and-grow {
  animation-name: animate-rotate-z-axis, animate-growth;
  animation-duration: 1.15s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.fade-in {
  animation: animate-fade-in 1s linear 1.25s forwards;
}

@keyframes animate-fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes animate-slide-in-left {
  from {left: -1200px;}
  to {left: 0px;}
}

@keyframes animate-slide-in-right {
  from {right: -1200px;}
  to {right: 0px;}
}

@keyframes animate-rotate-z-axis {
  from {transform: rotate(0deg)}
  to {transform: rotate(360deg)}
}

@keyframes animate-growth {
  from {width: 20px}
  to {width: 120px}
}
