audio {
  display: none;
}

#app-container {
  margin: 0 auto;
  width: 1200px;
}

#logo-container, #reaction-pics-container ,#poll-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

#reaction-pics-container {
  margin-bottom: 30px;
}

#title {
  text-align: center;
}

#vs-logo {
  top: 100px;
  width: 120px;
  height: auto;
}

.button {
  padding: 3px;
  font-size: 32px;
  border-radius: 10px;
  background-color: gainsboro;
}

.button:hover {
  background-color: rgb(180, 180 , 180)
}

.button.selected {
  background-color: grey;
}

.logo {
  position: relative;
  width: 300px;
  height: auto;
}

.response-pics {
  width: 480px;
  height: 480px;
  background-image: url()
}
